.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container > * {
    margin: 7px 0
}

.errorMessage {
    color: red;
}